.Link {
  color: black;
  font-size: 8vmin;
  margin: 0.5em 0.5em 0 0.5em;
  text-decoration: none;
}

.Container-horizontal {
  display: flex;
  flex-direction: row;
}

.Nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
